@import '../bower_components/foundation/scss/foundation';

.time-list {
  display: inline;
}

.footer iframe {
  border: none;
  overflow: hidden;
}

.twitter-follow-button {
  width: 130px;
  height: 25px;
}

.footer p {
  font-size: $paragraph-aside-font-size;
  line-height: $paragraph-aside-line-height;
  font-style: $paragraph-aside-font-style;
}

.time-offset {
  @include label($label-padding, emCalc(25), #ccc, $label-radius);
}

.results-label {
  margin-top: 20px;
}

.results-label > div {
  margin-bottom: -15px;
}

