<div class="row">
    <div class="large-12 small-12 columns">
        <h1>Sleepyti.me bedtime calculator</h1>
    </div>
</div>

<div class="row">
    <div class="large-6 small-6 columns" ng-click="knowWhenWakeUp = true">
        <a class="button" ng-class="{success: knowWhenWakeUp}">I know when I want to wake up</a>
    </div>
    <div class="large-6 small-6 columns" ng-click="knowWhenWakeUp = false">
        <a class="button" ng-class="{success: knowWhenWakeUp == false}">I know when I want to fall asleep</a>
    </div>
</div>

<div ng-show="knowWhenWakeUp">
    <div time-display
         offsets="offsets.goToSleepTimes"
         prompt-text="I have to wake up at"
         results-label="You should go to sleep at one of the following times"
         base-time="baseTimes.wakeup">
    </div>
</div>

<div ng-show="knowWhenWakeUp == false">
    <div time-display
         offsets="offsets.wakeupTimes"
         prompt-text="I want to go to sleep at"
         results-label="You should wake up at one of the following times"
         base-time="baseTimes.sleep">
    </div>
</div>

<div ng-show="knowWhenWakeUp != undefined">
    <div class="row">
        <div class="large-12 small-12 columns">
            <h2>
                <small>The above calculations take the following into account:</small>
            </h2>
        </div>
        <div class="large-offset-1 small-offset-1 large-11 small-11 columns">
            <ul>
                <li>Most people take {{constants.DEFAULT_SLEEP_TIME_MINS}} minutes to fall asleep.</li>
                <li>An average sleep cycle is {{constants.SLEEP_CYCLE_LENGTH}} minutes.</li>
                <li>A good night's sleep consists of 5-6 complete cycles.</li>
            </ul>
        </div>
    </div>
</div>

<div class="row footer">
    <div class="large-12 small-12 columns">
        <p>Feel free to <a href="mailto:dshaw@dshaw.net">email</a> me
            (or talk to <a href="http://www.reddit.com/message/compose/?to=darkcode">me on reddit</a>)
            with questions or comments! Tell your friends about sleepyti.me! Thanks!</p>
    </div>
    <div class="large-12 small-12 columns">

        <iframe allowtransparency="true"
                scrolling="no"
                class="twitter-follow-button"
                src="http://platform.twitter.com/widgets/follow_button.1375828408.html#_=1376785800219&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=dshaw_&amp;show_count=false&amp;show_screen_name=true&amp;size=m"
                data-twttr-rendered="true"></iframe>

        <iframe allowtransparency="true"
                scrolling="no"
                class="fb-like-button"
                src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fsleepyti.me&amp;layout=standard&amp;show_faces=false&amp;width=450&amp;action=like&amp;colorscheme=light&amp;height=80"></iframe>
    </div>

</div>