<div class="row">
    <div class="large-12 small-12">
        <h1>Sleepyti.me bedtime calculator</h1>
    </div>
</div>

<div class="row">
    <div class="large-6 small-6 columns" ng-click="knowWhenWakeUp = true">
        <p>I know when I want to <strong>wake up</strong></p>
    </div>
    <div class="large-6 small-6 columns" ng-click="knowWhenWakeUp = false">
        <p>I know when I want to <strong>fall asleep</strong></p>
    </div>
</div>

<div ng-show="knowWhenWakeUp">
    <div class="row">
        <div class="large-3 small-3 columns">
            I have to wake up at:
        </div>
        <div class="large-3 small-3 columns">
            <select ng-model="wakeup.hour" ng-options="h for h in hours"></select>
        </div>
        <div class="large-3 small-3 columns">
            <select ng-model="wakeup.minute" ng-options="m for m in minutes"></select>
        </div>
        <div class="large-3 small-3 columns">
            <select ng-model="wakeup.am" ng-options="opt for opt in amPm"></select>
        </div>
    </div>
    <div class="row">
        <div class="large-12 small-12 columns">
            <p>You should go to sleep at:</p>

            <p ng-repeat="sleepTime in sleepTimes">{{sleepTime.toDate() | date:'HH:mm a'}}</p>
        </div>
    </div>
</div>


<div ng-show="knowWhenWakeUp == false">
    <div class="row">
        <div class="large-3 small-3 columns">
            I want to go to sleep at:
        </div>
        <div class="large-3 small-3 columns">
            <select ng-model="wakeup.hour" ng-options="h for h in hours"></select>
        </div>
        <div class="large-3 small-3 columns">
            <select ng-model="wakeup.minute" ng-options="m for m in minutes"></select>
        </div>
        <div class="large-3 small-3 columns">
            <select ng-model="wakeup.am" ng-options="opt for opt in amPm"></select>
        </div>
    </div>
    <div class="row">
        <div class="large-12 small-12 columns">
            <p>You should wake up at:</p>

            <p ng-repeat="wakeupTime in wakeupTimes">{{wakeupTime.toDate() | date:'HH:mm a'}}</p>
        </div>
    </div>
</div>
